<h1>hi</h1>

<dl>
4| <dt>Minimum</dt>
5| <dd><%= @lower %></dd>
6|  
7|  
8| <dt>Maximum</dt>
9| <dd><%= @upper %></dd>
10|  
11|  
12| <dt>Random Number</dt>
13| <dd>56657685576</dd>
14| </dl>
15| <a href="/rand/new">Pick random number
